.uch-auth {
    max-width: 300px;
}

.uch-auth .form-floating:focus-within {
    z-index: 2;
}

.uch-auth input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.uch-auth input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
