.uch-link {
    &.dark {
        color: var(--uch-purple-300);
        &:hover {
            color: var(--uch-purple-100);
        }
    }

    &.light {
        color: var(--uch-purple-700);
        &:hover {
            color: var(--uch-purple-900);
        }
    }
}

.uch-page-link {
    &.dark {
        --bs-pagination-color: var(--uch-purple-100);
    }

    &.light {
        --bs-pagination-color: var(--uch-purple-900);
    }
}

.active > .uch-page-link {
    --bs-pagination-active-bg: transparent;

    &.dark {
        --bs-pagination-active-border-color: var(--uch-purple-600);
        --bs-pagination-active-color: var(--uch-purple-600);
    }

    &.light {
        --bs-pagination-active-border-color: var(--uch-purple-700);
        --bs-pagination-active-color: var(--uch-purple-700);
    }
}
